
### Environment Variables ###
.env
.env.local
.env.development.local

### Logs ###
logs/
*.log

### Node ###
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log

### Build ###
dist/
build/
out/

### JetBrains ###
.idea/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store